<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Farkındalık Sertifikası</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="certificate-page">

  <main class="certificate-wrap">
    <section class="certificate-card">

      <div class="certificate-badge">🏅</div>

<h1 class="certificate-title">
  Farkındalık Yolculuğu
</h1>

<h2 class="certificate-subtitle">
  Başarı Sertifikası
</h2>

<p class="certificate-user">
  <%= ad %>
</p>

<p class="certificate-desc">
  ruh sağlığı farkındalık yolculuğunu tamamlayarak
  kendine destek olma sürecine katkı sağlamıştır.
</p>
<% 
let sonucYazi = sonuc;

if (sonuc === "hafif") sonucYazi = "Hafif Farkındalık";
if (sonuc === "orta") sonucYazi = "Orta Düzey Destek";
if (sonuc === "yuksek") sonucYazi = "Yüksek Destek İhtiyacı";
%>
      <div class="certificate-info">
        <div>
          <span>Sonuç</span>
         <strong><%= sonucYazi %></strong>
        </div>

        <div>
          <span>Puan</span>
          <strong><%= puan %> / <%= maxPuan %></strong>
        </div>

        <div>
          <span>Tarih</span>
          <strong><%= tarih %></strong>
        </div>
      </div>
      <div class="certificate-bottom">

  <div class="certificate-score">
    <span>Puan</span>
    <strong><%= puan %> / <%= maxPuan %></strong>
  </div>

  <div class="certificate-seal">
    YALNIZ DEĞİLSİN
  </div>

</div>

      <p class="certificate-note">
        Bu sertifika tıbbi tanı niteliği taşımaz. Farkındalık ve bilgilendirme amacıyla oluşturulmuştur.
      </p>

      <button onclick="window.print()" class="print-btn">
        Sertifikayı Yazdır / PDF Kaydet
      </button>

    </section>
  </main>

</body>
</html>